header {
  padding: 10px;
  margin: 10px;
}
  
body {
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-jumbo h1 {
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  color: rgb(0, 162, 255);
}

.custom-jumbo p {
  text-align: center;
}

.container.card {
  float: left
}

.first-card {
  float: left;
}

.second-card {
  float: left;
}

.third-card {
  float: left;
}