header {
  padding: 10px;
  margin: 10px;
}
  
body {
  background-image: url(../images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-jumbo {
  height: 250px;
  padding: 2rem 2rem;
}

.custom-jumbo h1 {
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  color: rgb(0, 162, 255);
}

.custom-jumbo p {
  text-align: center;
}

.first-card {
  float: left;
  margin-left: 4%;
}

.first-card img {
  height: 200px;
  align-content: center;
}

.second-card {
  float: left;
  margin-right:6%;
  margin-left: 6%;
}

.second-card img {
  height: 200px;`\
}

.third-card {
  float: left;
}

.third-card img { 
  height: 200px;
}

footer {
  padding: 10px;
  margin: 10px;
}